@font-face {
  font-family: Portfolio;
  src: url(../Poppins/Poppins-Regular.ttf);
}
* {
  font-family: Portfolio;
}

ul li a {
  transition: border-bottom 0.3s;
  padding-bottom: 3px;
  font-size: 18px;
}

ul li a:hover {
  border-bottom: 3.5px solid blue;
  color: blue;
}

.active {
  color: blue;
}

.main-btn a {
  transition: background-color 0.2s;
  border: none;
  outline: none;
  border-radius: 5px;
}

.main-btn a:hover {
  background-color: #3d86d8;
  color: white;
  

}

.cursor {
  transition: all 0.2s linear;
}

.myskill-right img {
  transition: transform .3s;
}

.myskill-right img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px blue;
}
.card1{
  transition: transform .4s;
  box-shadow: 2px 2px 10px ;
}

.card1:hover{
  transform: scale(1.1);
  background-color: blue;
  color: #fff;
 
}

